<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="first.test.mapper.ReplyMapper">

	<!-- 댓글 조회 --> 
	<select id="readReply" parameterType="hashMap" resultType="first.test.vo.ReplyVO">
		SELECT 
		    A.*, CONNECTBY.level-1 as re_depth
		FROM
		    (SELECT		        
		        <if test="orderType == 'new'.toString()">
		        GET_REPLY_LIST_NEW
		        </if>
		        <if test="orderType == 'old'.toString()">
		        GET_REPLY_LIST_OLD
		        </if>
		        <if test="orderType == 'score'.toString()">
		        GET_REPLY_LIST_SCORE
		        </if>
		        (#{bno}) AS rno, @level AS level
		    FROM
		        (SELECT @start_with:=0, @id:=@start_with, @level:=0) vars, reply
		    WHERE
		        @id IS NOT NULL) CONNECTBY
		        INNER JOIN
		    reply A ON CONNECTBY.rno = A.rno		
	</select>

	<insert id="writeReply" useGeneratedKeys="true" keyProperty="rno">
		insert into
		reply(bno, content, writer, parent)
		values(#{bno}, #{content}, #{writer}, #{parent})
	</insert>	

	<!-- 특정 댓글 조회 -->
	<select id="readReplySelect"
		resultType="first.test.vo.ReplyVO">
		select *
		from reply
		where rno = #{rno}
	</select>

	<!-- 댓글 수정 -->
	<update id="updateReply">
		update reply
		set
		content = #{content}
		where rno = #{rno}
	</update>

	<!-- 댓글 삭제 -->
	<update id="deleteReply">
		update reply
		set isDelete = 1
		where rno = #{rno}
	</update>
	
	<delete id="deleteAll">
		delete from reply
		where bno = #{bno}
	</delete>
	
	<!-- 좋아요 및 싫어요 -->
	<update id="updateGood">
		update reply
		set good_score = good_score + 1
		where rno = #{rno}
	</update>
	
	<update id="updateBad">
		update reply
		set bad_score = bad_score + 1
		where rno = #{rno}
	</update>

</mapper>